@import './theme.css';

.c-details {
    background: var(--color-white);
}

.c-details .o-wrapper {
    justify-content: space-around;
}

.c-details__viz {
    flex: 1 1 auto;
    text-align: right;
}

.c-details__viz img {
    width: 26em;
    padding: 0;
    margin: 0;
}

.c-details__viz dl {
    background: var(--color-lightbrown);
    padding: 2em;
    color: var(--color-white);
    text-align: center;
    margin: 0 0 0 6em;
    padding: 0;
}

.c-details__viz dt {
    font-weight: bold;
    font-size: 1.222em;
    padding: 1em 0;
}

.c-details__viz dd {
    padding: 0.4em 0;
    font-size: 0.833em;
}

.c-details__text {
    flex: 1 1 auto;
}

.c-details__text-box {
    font-family: "open sans";
    background: var(--color-verylightgray);
    text-align: left;
    margin: 0 1em 0 0;
    padding: 3em 6em 3em 4em;
    font-size: 0.833em;
    line-height: 1.2em;
}

.c-details__text-box h3 {
    font-family: "Droid Serif";
    font-size: 1.222rem;
}

.c-details__text-box a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-green);
}

.c-details__text-box a:hover {
    font-weight: bold;
}

.c-details__text img {
    padding: 0;
    width: 20em;
}
