@import 'theme.css';


.c-coursebox {
  flex: 0 1 16em;
  margin: 1em 0.4em;
  padding: 0.6em;
}

.c-coursebox:nth-child(3n+0) {
  background: var(--color-lightgreen);
}

.c-coursebox:nth-child(3n+1) {
  background: var(--color-verylightgray);
}

.c-coursebox:nth-child(3n+2) {
  background: var(--color-lightbrown);
}
