@import './theme.css';

.o-middle {
    width: 60em;
    margin: 0 auto;
}

footer {
    font-family: "open sans";
    font-size: 0.861em;
    padding: 1em 0;
    text-align: center;
    color: var(--color-white);
    background: url('/static/img/wood.jpg') no-repeat fixed center center;
    background-size: cover;
}

.c-copy {
    padding: 2em 0;
}

.c-boxes {
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-boxes > div {
    flex: 1 1 auto;
}

.c-boxes a {
    color: var(--color-white);
    /*//text-decoration: none;*/
}

.c-boxes > div:nth-child(2) {
    border: 1px solid var(--color-white);
    border-width: 0 1px 0 1px;
}
