@import './theme.css';

.c-jumbo {
    background: url('/static/img/home/main_opt.jpg') no-repeat fixed center center;
    background-size: cover;
}

.c-jumbo__hero {
    background: rgba(255, 255, 255, 0.75);
    padding: 8em 4em;
    font-size: 0.9em;
    line-height: 2.5em;
    color: var(--color-darkgray);
    margin-left: 34em;
    width: 22em;
}

.c-jumbo__link {
    font-family: "open sans";
    text-decoration: none;
    margin-top: 5em;
    background: var(--color-brown);
    color: var(--color-white);
    border: 0;
    padding: 1em;
}

.c-nerine {
    background: var(--color-verylightgray);
    padding: 3em 4em 2em 3em;
    font-size: 0.8em;
    line-height: 1.4em;
}

.c-summary__left {
    position: relative;
    min-width: 24em;
}

.c-summary__img {
    top: 1em;
    right: -2em;
    position: absolute;
    width: 10em;
    background: url('/static/img/wood.jpg');
    padding: 1em;
}

.c-summary__text {
    color: var(--color-white);
    background: var(--color-lightgreen);
    padding: 4em 4em 3em 6em;
    font-size: 0.9em;
}

.c-services__heading {
    margin: 0 0 0 10em;
    text-align: right;
    padding: 1em;
    color: white;
    background: var(--color-lightgreen);
}

.c-services__content {
    background: var(--color-verylightgray);
    padding: 4em 3em 2em 3em;
    align-self: flex-start;
}

/*}*/

/*&*/
/*:hover {*/
    /*background: @green;*/
/*}*/

/*}*/
/*}*/
/*}*/

/*.bio {*/
    /*display: flex;*/
    /*align-items: stretch;*/

/*.bio_img {*/
    /*flex: 3 4 auto;*/

/*img {*/
    /*padding: 0;*/
/*/ / height: 100 %;*/
/*/ / width: auto;*/
/*}*/

/*}*/
/*.bio_text {*/
    /*font-size: 0.84em;*/
    /*line-height: 1.4em;*/
    /*flex: 4 3 auto;*/
    /*background: @verylightgray;*/
    /*padding: 2em 6em;*/

/*a {*/
    /*color: @lightgreen;*/
    /*text-decoration: none;*/
/*}*/

/*}*/
/*}*/
