@import 'theme.css';

:root {
    --color-main: #2D2B33;
}

.c-resources-juicing {
    background: #D1D1DD;
    color: var(--color-main);
}

.benefits {
    background: rgba(252, 165, 86, 0.3);
    color: var(--color-main);
}

.mixing {
    background: rgba(64, 5, 18, 0.25);
    color: var(--color-main);
}

.video {
    background: rgba(255, 252, 207, 0.4);
    color: var(--color-main);
}

.tips {
    background: rgba(219, 230, 252, 0.4);
    color: var(--color-main);
}

.recipe {
    background: rgba(12, 49, 16, 0.2);
    color: var(--color-main);
}

.fibre {
    background: #F1FAF7;
    color: #004B58;
}

.timing {
    background: rgba(69, 131, 30, 0.1);
    color: var(--color-main);
}

.machine {
    background: #786057;
    color: #F2F2F2;
}
