@import 'theme.css';

.c-nav_services {
    margin: 1em 0 3em;
    font-family: "open sans";
    font-size: 1.2rem;
    text-align: center;
}

.c-nav_services small {
    font-size: 0.8em;
    font-style: italic;
}

.c-nav_services a {
    color: var(--color-darkgray);
    padding: 0.3em 0.5em;
    text-decoration: none;
}

.c-nav_services a.active {
    background: var(--color-yellow);
    color: black;
}

.c-nav_services a:hover {
    color: black;
}

.c-nav_services a:before {
    padding-right: 0.2em;
    content: "»";
}

.c-services-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*.service_box {*/
/*flex: 0 0 18em;*/
/*margin: 0 0.8em 2em;*/
/*text-align: center;*/
/*background: @verylightgray;*/
/*.bg {*/
/*width: auto;*/
/*height: 10em;*/
/*background-position: center center;*/
/*background-repeat: no-repeat;*/
/*background-size: cover;*/
/*}*/
/*.text {*/
/*padding: 1em 1.8em;*/
/*}*/
/*.title {*/
/*font-family: "droid-serif";*/
/*font-size: 1.322rem;*/
/*padding: 0.2em 1em 0.4em;*/
/*color: black;*/
/*}*/
/*.details {*/
/*font-family: "open sans";*/
/*font-size: 0.9rem;*/
/*color: @darkgray;*/
/*padding: 0 0 0.67em;*/
/*span {*/
/*padding: 0 0.2em;*/
/*}*/
/*}*/
/*.description {*/
/*font-family: "open sans";*/
/*font-size: 0.8rem;*/
/*color: @darkgray;*/
/*line-height: 1.4em;*/
/*}*/
/*.show_toggle {*/
/*font-size: 0.8em;*/
/*color: @green;*/
/*&:hover {*/
/*color: @lightgreen;*/
/*cursor: pointer;*/
/*}*/
/*}*/
/*}*/
/*}*/
