<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>{% block title %}Be Set Free{% endblock %}</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    {% block css %}
        <link href="/vendor/normalize.css/normalize.css" rel="stylesheet">
        <link href="/assets/css/structure/main.css" rel="stylesheet">
        <link href="/assets/css/style/main.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link href='http://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet'>
    {% endblock %}
    <script src="/vendor/prefixfree/prefixfree.min.js"></script>
</head>

<body>
	<base href="/"/>

	<div class="flex-parent">
		<nav class="flex-child nav"></nav>
		<div class="flex-child content-holder" ng-view></div>
	</div>


	{% block js %}
	    <script src="/vendor/jquery/dist/jquery.js"></script>
	    <script src="/vendor/angular/angular.js"></script>
	    <script src="/vendor/angular-route/angular-route.js"></script>
	    <script src="/assets/js/app.js"></script>
	    <script src="/assets/js/nav.js"></script>
	    <script src="/assets/js/services.js"></script>
	    <script src="/assets/js/hypnotherapy.js"></script>
	{% endblock %}

</body>
</html>