.home {
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .nerine {
    background: @verylightgray;
    padding: 5em 4em 2em 3em;
    font-size: 0.8em;
    line-height: 1.4em;
  }

  .brand {
    div:first-child {
      position: relative;
      min-width: 24em;
      img {
        top: 1em;
        right: -2em;
        position: absolute;
        width: 10em;
        background: url('/static/img/wood.jpg');
        padding: 1em;
      }
    }
    div:last-child {
      color: white;
      background: @lightgreen;
      padding: 4em 4em 3em 6em;
      font-size: 0.9em;
    }
  }

  .services {
    div:first-child {
      *:first-child {
        margin: 0 0 0 10em;
        text-align: right;
        padding: 1em;
        color: white;
        background: @lightgreen;
      }
    }
    div:last-child {
      background: @verylightgray;
      padding: 2em 3em 2em 3em;
      align-self: flex-start;
      font-family: "Open Sans";
    }
  }
}
