@import 'theme.css';


dt {
  font-weight: bold;
}

dd {
  font-size: 0.9em;
  padding: 0.2em 0 0.8em;
}

img {
  padding: 1em 0;
}

.c-resource-main {
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  /*.anime-box();*/
}

.c-resource-main img {
  width: 26em;
}

.c-resource-main div:last-child {
  margin: 0;
  padding: 0 2em;
}

.c-resource-main div:last-child h2 {
  font-size: 1.4em;
}

.c-resource-main div:last-child > * {
  font-size: 0.9em;
  line-height: 1.4em;
}


.flex-parent {
    display: flex;
}

.flex-parent > div > * {
    margin: 1em;
    padding: 0.2em 1em;
}

.flex-parent > div > div {
 /*.anime-box();*/
}


.exp-main {
    font-size: 0.9em;
}


.exp-side {
    font-size: 0.8em;
    max-width: 32%;
}

