@import 'theme.css';

:root {
    --color-bread_color: #e8d6c7;
    --color-dark_olive_green: #372c21;
}

.c-resource-bread {
    background: var(--color-dark_olive_green);
    color: var(--color-bread_color);
}

sub {
    bottom: -0.5em;
}

li {
    padding-bottom: 0.7em;
}

.c-resources-content {
    padding: 1em;

}


.story {
    background: rgba(248, 235, 225, 0.7);
    color: rgb(59, 50, 54);
    padding: 1em;
}

.intro {
    background: rgba(248, 234, 233, 0.4);
    color: var(--color-bread_color);
}



.ingredients {
    background: rgba(92, 86, 79, 0.4);
    color: var(--color-bread_color);
}

.directions {
    background: rgba(85, 44, 34, 0.4);
    color: var(--color-bread_color);
}

.credits {
    background: rgba(67, 74, 80, 0.3);
    color: var(--color-bread_color);
}

.credits a {
    color: burlywood;
}

.notes {
    background: rgba(123, 75, 59, 0.4);
    color: rgb(158, 136, 93);
}
