<div class="flex-parent hypnotherapy">
	<a href="#" class="back hide">Back</a>
	<div class="flex-child frame darkened frame-alpha pointer what_is_hypnotherapy">
		<h2 class="subtitle">What Is Hypnotherapy?</h2>
	</div>
	<div class="flex-child frame-alpha">
		<div class="flex-parent flex-column">
			<div class="flex-child frame darkened frame-beta pointer common_misconceptions">
				<h2 class="subtitle">Common Misconceptions About Hypnosis</h2>
			</div>
			<div class="flex-child frame-beta">
				<div class="flex-parent">
					<div class="flex-child frame darkened frame-charlie pointer how_hypnotherapy_can_help">
						<h2 class="subtitle">How Hypnotherapy Can Help</h2>
					</div>
					<div class="flex-child frame darkened frame-charlie pointer faq">
						<h2 class="subtitle">Frequently Asked Questions</h2>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>