<div class="flex-parent services">
	<a href="#" class="back hide">Back</a>
	<div class="flex-child frame darkened pointer stress_management">
		<h2 class="subtitle">Stress Management , find your balance</h2>
	</div>
	<div class="flex-child frame darkened pointer phobias">
		<h2 class="subtitle">Relief from Phobias and Anxiety , Master freedom and courage</h2>
	</div>
	<div class="flex-child frame darkened pointer weight_control">
		<h2 class="subtitle">Weight Control & Eating Disorders , Clone the True You</h2>
	</div>
	<div class="flex-child frame darkened pointer smoking_sensation">
		<h2 class="subtitle">Smoking Sensation , breath healthily live happily</h2>
	</div>
</div>
