{% extends 'main/base.html' %}
{% load static %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
<div class="about-holder">

    <div class="row heading text-center">
        <div class="col">
            <h1>
                <img class="img-fluid" src="{% static 'main/img/logo.png' %}" />
                About Nerine
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-6 head text-end">
            <img class="" src="{% static 'main/img/about/nerine_about_opt.jpg' %}"/>
            <div class="row text-center">
                <div class="col-5 offset-7 specialities bg-brown">
                <h4>Specialties</h4>
                <p>Digestive wellness</p>
                <p>Iridology / Iris diagnosis</p>
                <p>Herbal medicine / Supplementation</p>
                <p>Healthy cooking / meal planning</p>
                <p>Hydrotherapy / Detoxification</p>
                <p>Behavioural / Cognitive Therapy</p>
                <p>Sustainable weight management</p>
                <p>Stop Smoking programs</p>
                <p>Elimination diets</p>
                <p>Massage</p>
                </div>
            </div>
        </div>
        <div class="col-4 story">
            <div class="bg-lightgray">
                <h4>My Story</h4>
                <p>Nerine is a Holistic Practitioner at heart, inspired by a passion for helping
                    people. Her journey to Complimentary Medicine started off whilst studying
                    Homeopathy and then continued to obtain her qualifications in Education and
                    IT (respectively) and also became a Microsoft Office Specialist. After working
                    for a few years she continued her studies and she also obtained numerous
                    qualifications in Iridology, Diet and applied Nutrition, substance abuse,
                    Natural remedies including Herbs and Tissue salts , massage, detox, Hydrotherapy,
                    NLP (Neurolinguistic programming), cognitive/ behavioral therapy.</p>
                <p>She owns a Holistic healing Practice focusing on Lifestyle Asessment and
                    Support, Lifestyle Coaching and Alternative Healing and is a registered
                    Professional with the NHA and ASCHP, Trainer and Ethno-Medicine Practitioner
                    in the field of Traditional Health Care, and as a Health Educator registered
                    with SACE.</p>
                <p>She also has a corporate Training background and has lectured at University
                    level. She presents Health talks, Health and Wellness Workshops, Stop smoking
                    programs and Training Seminars as Health Educator (Wellness Consultant ,
                    Facilitator &amp; Coach).</p>
                <p>Her aim is to make a positive difference in people’s lives in assisting and
                    guiding them to achieve and maintain optimal health, naturally.</p>
            </div>
            <img class="" src="{% static 'main/img/about/stethoscope_opt.jpg' %}"/>
        </div>
    </div>

</div>
{% endblock %}
